<form action="../config/cadastrar-proprietario.php" method="POST" class="form-cadastrar-proprietario">
    <h1>Dados do proprietário</h1>
    <input type="text" placeholder="nome" name="nome" id="nome" />
    <input type="text" placeholder="CPF" name="cpf" id="cpf" />
    <input type="text" placeholder="email" name="email" id="email"/>
    <input type="text" placeholder="celular" name="celular" id="celular"/>
    <h1>Dados do veículo</h1>
    <input type="text" placeholder="marca" name="marca" id="marca"/>
    <input type="text" placeholder="modelo" name="modelo" id="modelo"/>
    <button type="submit" class="button-cadastrar">enviar</button>
</form>